*{		 margin: 0;
	 box-sizing: border-box;
}
body{    
}
.mainbox{



height: 400px;

width: 1000px;

margin: auto;


}
.col-1-3{
    width: 33.33%;
    height: 25%;
    float: left;
    padding: 10px 5px;
   
}
.col-1{
    width: 100%;
    height: 25%;
    float: left;
    padding: 10px 5px;
   
}
.col-1-2{
    
    width: 50%;
  
    height: 25%;
    float: left;
    padding: 10px 5px;
   
}
.col-3-5{
    width: 60%;
    
    height: 25%;
    float: left;
    padding: 10px 5px;
    
}
.col-1-5{
    width: 20%;
    
    height: 25%;
    float: left;
    padding: 10px 5px;
   
}




.red{
	background-color: red;
	width: 100%;
	height: 100%;
    

}
.purple{
	background-color: purple;
	width: 100%;
	height: 100%;
}
.green{
	background-color: green;
width: 100%;
	height: 100%;
}
.black{
	background-color: black;
	width: 100%;
	height: 100%;
}